<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../Assets/img/favicon.png" type="image/png">
    <title>Fashiop</title>
    <!-- Bootstrap CSS -->
    <link href="~/Assets/css/linericon/style.css" rel="stylesheet" />
    <link href="~/Assets/css/vendor/style.css" rel="stylesheet" />
    <link href="../Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="../Assets/css/simpleLightbox.css" rel="stylesheet" />
    <link href="../Assets/css/nice-select.css" rel="stylesheet" />
    <link href="../Assets/css/animate.css" rel="stylesheet" />
    <link href="../Assets/css/jquery-ui.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container-fluid">
                <div class="float-left">
                    <p>Bize Ulaşın: 0312 654 52 98</p>
                </div>
                <div class="float-right">
                    <ul class="right_side">
                        <li>
                            <a href="/Sites/Login">
                                Giriş Yap/Üye Ol
                            </a>
                        </li>
                        <li>
                            <a href="/Sites/Profil">
                                Hesabım
                            </a>
                        </li>
                        <li>
                            <a href="/Sites/LogOut">
                                Güvenli Çıkış
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/Sites/HomePage">
                        <img src="~/Assets/img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <div class="row w-100">
                            <div class="col-lg-7 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/Sites/HomePage">Ana Sayfa</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="/Sites/Shop">Ürünler</a>
                                    </li>
                                    @*<li class="nav-item submenu dropdown">
                                        <a href="/Sites/Combine" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kombinler</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Sites/CreateCombine">Kombin Oluştur</a>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Sites/ViewCombine">Yaptığım Kombinler</a>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Sites/AllViewCombine">Diğer Kombinler</a>
                                            </li>
                                        </ul>
                                    </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Sites/Blog">Moda Tavsiyeleri</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Sites/Contact">İletişim</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                  
                                    <hr>

                                    <li class="nav-item">
                                        <a href="/Sites/Login" class="icons">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <hr>

                                    <li class="nav-item">
                                        <a href="/Sites/Login" class="icons">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <hr>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Home Banner Area =================-->
    @*<section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Login/Register</h2>
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="login.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--================End Home Banner Area =================-->
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Hakkımızda</h6>
                        <p>2020 Haziran-Bilge Adam Nitelikli Bilişim Uzmanı Yetiştirme Programı Tarzini Yarat Projesi Tuğba ÖZMEN<i class="fa fa-heart-o" aria-hidden="true"></i>, Kübra SEYREK<i class="fa fa-heart-o" aria-hidden="true"></i>, Özlem ASLAN<i class="fa fa-heart-o" aria-hidden="true"></i> (Karantina Hatırası) </p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">Instagram</h6>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li>
                                <img src="~/Assets/img/Image-01.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-02.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-03.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-04.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-05.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-06.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-07.jpg" />
                            </li>
                            <li>
                                <img src="~/Assets/img/Image-08.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget f_social_wd">
                        <h6 class="footer_title">Bizi Takip Edin</h6>
                        <p>Sosyal Medya Hesaplarımız</p>
                        <div class="f_social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. <i class="fa fa-heart-o" aria-hidden="true"></i> 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/stellar.js"></script>
    <script src="~/Assets/js/simpleLightbox.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/js/isotope-min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/js/timer.js"></script>
    <script src="~/Assets/js/jquery.counterup.js"></script>
    <script src="~/Assets/js/mail-script.js"></script>
    <script src="~/Assets/js/theme.js"></script>
    @RenderSection("scripts", false)
</body>

</html>