
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutSites.cshtml";
}

<div class="container" style="margin-top:140px"><h2 style="color:black">Uppss... Bir şeyler ters gitti  :( </h2></div>

<br />
<br />

