@model IEnumerable<TarziniYarat.Model.Product>
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutSites.cshtml";
}

<link href="~/Assets/css/linericon/style.css" rel="stylesheet" />
<link href="~/Assets/css/vendor/style.css" rel="stylesheet" />
<link href="../Assets/css/bootstrap.css" rel="stylesheet" />
<link href="../Assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="../Assets/css/owl.carousel.min.css" rel="stylesheet" />
<link href="../Assets/css/simpleLightbox.css" rel="stylesheet" />
<link href="../Assets/css/nice-select.css" rel="stylesheet" />
<link href="../Assets/css/animate.css" rel="stylesheet" />
<link href="../Assets/css/jquery-ui.css" rel="stylesheet" />
<!-- main css -->
<link href="~/Assets/css/style.css" rel="stylesheet" />
<link href="~/Assets/css/responsive.css" rel="stylesheet" />
<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="offset-lg-2 col-lg-8">
                    <h3>
                        Modaya Sende Katıl
                        <br />Yaz Geliyor... Haydi Yaza Hazırlık Yap
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <a class="white_bg_btn" href="/Sites/Shop">Koleksiyonlara Bak</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Hot Deals Area =================-->
<section class="hot_deals_area section_gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="hot_deal_box">
                    <img class="img-fluid" src="~/Assets/img/deal1.jpg" alt="">
                    @*<img src="~/Assets/img/deal1.jpg" />*@
                    <div class="content">
                        <h2>
                            Bu Ayın Sıcak Fırsatları
                        </h2>
                        <p>Alış-Verişe Başla</p>
                    </div>
                    <a class="hot_deal_link" href="#"></a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="hot_deal_box">
                    <img class="img-fluid" src="~/Assets/img/deal1.jpg" alt="">
                    @*<img class="img-fluid" src="img/product/hot_deals/deal1.jpg" alt="">*@
                    <div class="content">
                        <h2>Bu Ayın Sıcak Fırsatları</h2>
                        <p>shop now</p>
                    </div>
                    <a class="hot_deal_link" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Hot Deals Area =================-->
<!--================Clients Logo Area =================-->
<section class="clients_logo_area">
    <div class="container-fluid">
        <div class="clients_slider owl-carousel">
            <div class="item">
                <img src="~/Assets/img/c-logo-1.png" />
            </div>
            <div class="item">
                <img src="~/Assets/img/c-logo-2.png" />
            </div>
            <div class="item">
                <img src="~/Assets/img/c-logo-3.png" />
            </div>
            <div class="item">
                <img src="~/Assets/img/c-logo-4.png" />
            </div>
            <div class="item">
                <img src="~/Assets/img/c-logo-5.png" />
            </div>
        </div>
    </div>
</section>
<!--================End Clients Logo Area =================-->
<!--================Feature Product Area =================-->
@*<section class="feature_product_area section_gap">
    <div class="main_box">
        <div class="container-fluid">*@

<section class="cat_product_area section_gap">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="row">
                    <div class="main_title">
                        <h2>
                            Özel Ürünler
                        </h2>
                        <p>
                            Çevre dostu sisteme son derece aşık olanlar.
                        </p>
                    </div>
                </div>
                <div class="latest_product_inner row">
                    @foreach (TarziniYarat.Model.Product item in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    @{
                                        var base65 = Convert.ToBase64String(item.Photo);
                                        var img2 = string.Format("data:image/gif;base64,{0}", base65);
                                    }
                                    <img class="img-fluid" src="@img2" style="max-height:200px;max-width:150px;" />
                                </div>
                                <br />
                                @Html.ActionLink(item.ProductName, "ProductDetail", new { id = item.ProductID })
                                <h5>@item.UnitPrice TL</h5>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Feature Product Area =================-->
<script src="~/Assets/js/jquery-3.2.1.min.js"></script>
<script src="~/Assets/js/popper.js"></script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/Assets/js/stellar.js"></script>
<script src="~/Assets/js/simpleLightbox.min.js"></script>
<script src="~/Assets/js/jquery.nice-select.min.js"></script>
<script src="~/Assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/Assets/js/isotope-min.js"></script>
<script src="~/Assets/js/owl.carousel.min.js"></script>
<script src="~/Assets/js/jquery.ajaxchimp.min.js"></script>
<script src="~/Assets/js/jquery.waypoints.min.js"></script>
<script src="~/Assets/js/timer.js"></script>
<script src="~/Assets/js/jquery.counterup.js"></script>
<script src="~/Assets/js/mail-script.js"></script>
<script src="~/Assets/js/theme.js"></script>
