
@{
    ViewBag.Title = "WaitPage";
    Layout = "~/Views/Shared/_LayoutSites.cshtml";
}

<div class="container">
   
</div>

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="offset-lg-2 col-lg-8">
                    <h1><b>Lütfen Hesabınızın Aktifleştirilmesini Bekleyiniz</b></h1>
                    <div class="page_link">
                        <a href="/Sites/HomePage">Ana Sayfa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
